*{
    padding: 0;
    margin: 0;
}

/* classes de posicionamento */
 
.flex{
    display: flex;
}
.flex-a-center{
    align-items: center;
}
.flex-j-center{
    justify-content:center;
}
.flex-column{
    flex-direction: column;
}

/* inicio do meu corpo do css */

body{
    background-image: url(../style/img/istockphoto-504855283-1024x1024.jpg);
    position: absolute;
    z-index: -5;
    max-width: 320px;
}
.calculator{
    margin:45px 0 20px 20px;
    font-family: 'Pacifico', cursive;
}
form{
    background-color: #0000001a;
}
.visor{
    padding: 15px 25px 15px 25px;
    margin: 50px 0px 20px 8px;
    border: solid 1px #000000;
    border-radius: 2px;
    font-size: 15px;
}
.div-button{
    margin: 0 0 3px 10px;
    font-family: verdana,sans-serif;
}
.buttons{
    border: solid 1px #000000;
    border-radius: 2px;
    padding: 20px 25px 20px 25px;
    font-size: 15px;
}
.buttons-c{
    border: solid 1px #000000;
    border-radius: 2px;
    padding: 20px 20px 20px 25px;
    font-size: 15px;
}
.button-igual{
    border: solid 1px #000000;
    border-radius: 2px;
    padding: 20px 87px 20px 87px;
    font-size: 15px;
}

 


